@import "tailwindcss";



.welcome-1 {
  text-align: left;
  font-size: 3.2em;
  font-weight: bold;
  color: #b7b3ab;
}

.welcome-2 {
  text-align: left;
  font-size: 3.2em;
  font-weight: bold;
  color: #b7b3ab;
}

